$scaleAndTranslateContainer: scale(2) translate(0, 25%);
.footer {
  height: 200px;
  transform: rotate(2deg) scale(1.2);
  margin-top: 200px;
  box-shadow: 0px -2px 4px -1px rgb(0 0 0 / 20%),
    0px -4px 5px 0px rgb(0 0 0 / 14%), 0px -1px 10px 0px rgb(0 0 0 / 12%);
}
